.title_container {
    margin-top: 20vh;
}

.sub_title {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 4px;
}

.main_title {
    font-size: 42px;
    font-weight: 700;
}

.button_container {
    position: absolute;
    width: calc(100% - 20px * 2);
    bottom: 56px;
}